{{xml_header}}
{{noparse}}<?xml-stylesheet href="/stylesheet.xsl" type="text/xsl"?>{{/noparse}}
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">
	<channel>
			<title>{{ podcast:name | cdata }}</title>
			<description>{{ podcast:description | cdata }}</description>
			<link>{{ podcast:url }}</link>
			<image>
					<url>{{ environment == 'production' ?= podcast:url  }}{{ podcast:image }}</url>
					<title>{{ podcast:name }}</title>
					<link>{{ podcast:url }}</link>
			</image>
	
			<lastBuildDate>{{last_modified format="r"}}</lastBuildDate>
			<atom:link href="{{ podcast:url }}/feed/podcast/" rel="self" type="application/rss+xml"/>
			<author><![CDATA[Mosaik Church Stuttgart]]></author>
			<copyright><![CDATA[Mosaik Church Stuttgart]]></copyright>
			<language><![CDATA[de]]></language>
			<atom:link rel="hub" href="https://pubsubhubbub.appspot.com/"/>
			<itunes:author>Mosaik Church Stuttgart</itunes:author>
			<itunes:summary>{{podcast:description}}</itunes:summary>
			<itunes:type>episodic</itunes:type>
			<itunes:owner>
					<itunes:name>Mosaik Church Stuttgart</itunes:name>
					<itunes:email>{{ podcast:email }}</itunes:email>
			</itunes:owner>
			<itunes:explicit>No</itunes:explicit>
			<itunes:category text="Religion &amp; Spirituality"/>
			<itunes:image href="{{environment == 'production' ?= podcast:url }}{{ podcast:image }}"/>
			<itunes:keywords>{{ podcast:keywords }}</itunes:keywords>
			<googleplay:author>Mosaik Church Stuttgart</googleplay:author>
			<googleplay:image href="{{ podcast:url }}{{ podcast:image }}"/>
			<googleplay:summary>{{ podcast:description }}</googleplay:summary>
			<googleplay:explicit>No</googleplay:explicit>
	
			{{cache for="1 day"}}
			{{collection:podcasts limit="104"}}
					<item>
							<title>{{ title | cdata}}</title>
							<description>{{ description | cdata }}</description>
							<link>{{permalink}}</link>
							<guid isPermaLink="false">{{id}}</guid>
							<dc:creator><![CDATA[Mosaik Church Stuttgart]]></dc:creator>
							<pubDate>{{ date format="D, d M o 13:00:00 GMT"}}</pubDate>
							{{ if audio }}
							<enclosure url="http://{{ environment == 'production' ?= 'dts.podtrac.com/redirect.mp3/'  }}{{audio | get:permalink | substr:8 }}" length="{{audio | get:size_bytes}}" type="audio/mpeg"/>
							<itunes:duration>{{audio get="size_bytes" divide="10590" ceil="true"}}</itunes:duration> 
							{{/if}}
							<itunes:summary>{{description}}</itunes:summary>
							<itunes:explicit>No</itunes:explicit>
							<itunes:image href="{{ podcast:url }}{{podcast:image}}"/>
							<itunes:episodeType>full</itunes:episodeType>
							<content:encoded>{{ shownotes | cdata }}</content:encoded>
					</item>
			{{/collection:podcasts}}
			{{/cache}}
	</channel>
	</rss>
