{{partial:hero}}
<main class="bg-white pt-4 md:pt-8">
<div class="bard px-4 max-w-2xl mx-auto pb-24">
    {{ rich_content }} 
        {{ if type == 'text'}}
            {{text | markdown}}
        {{ elseif type == 'button' }}
                {{ partial src='button' :text='text' :url="url" }}
        {{ elseif type == 'datei' }}
            {{partial src='file' :text="title" :file="file"}}
        {{ elseif type == 'html'}}
            {{html}}
        {{ elseif type == 'bild'}}
            <picture class="my-2 md:my-4 w-full block bg-gray-200">
                <source type="image/webp" srcset="{{ glide :src='image' w='1024' q='80' fm='webp' }} 1024w, {{ glide :src='image' w='512' q='80' fm='webp' }} 512w" sizes="100%"/>
                <source type="image/jpg" srcset="{{ glide :src='image' w='1024' q='80' }} 1024w, {{ glide :src='image' w='512' q='80' }} 512w" sizes="100%"/>
                <img loading="lazy" src="{{ glide :src='image' w='595' q='80'}}" class="w-full" alt="{{image | get:alt}}"/>
            </picture>  
        {{ /if}}
        

    {{ /rich_content}}
</div>
</main>