<!doctype html>
<html amp lang="de">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <title>Mosaik News</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap&text=Mosaik News" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="/site/themes/freebird/news/tailwind.css">
    {{ seo_pro:meta }}
</head>
<body>
{{ template_content }}
</body>
</html>