{{ if header_image || hero }}
<section style='background-image: url("{{header_image}}"); background-position: {{header_image:focus | background_position}}'
    x-data="" x-ref="hero" x-on:scroll.window.passive="parallax($refs)" class="bg-black bg-no-repeat flex flex-col w-full h-64 text-center bg-cover sm:h-72 md:h-100 xl:h-144">
    <div class="my-auto" x-ref="heroText">
    <h1 class="font-serif text-5xl font-bold leading-none text-white sm:text-6xl lg:text-7xl text-shadow-sm hyphens-auto">{{page:title | upper}}</h1>
    <div>
        {{ if custom_subtitle }}
            <div class="w-5/6 mx-auto mt-4 font-sans text-base font-medium leading-tight text-white md:mt-2 text-shadow md:font-normal">- {{custom_subtitle}} -</div> 
        {{ /if}}
    </div>  
</div>
</section>
<script>
    function parallax(refs) {
        const hero = refs.hero;
        const headerHeight = hero.offsetHeight;
        let scrollTop = (window.scrollY < (headerHeight / 2)) ? window.scrollY : headerHeight / 2;
        hero.style.transform = `translate3D(0,${scrollTop / 8}px,0)`;
        refs.heroText.style.transform = `translate3D(0,${scrollTop / 6}px,0)`;
    }
</script>
{{/if}}