<div class="mt-12 md:mt-16 grid md:grid-cols-2 gap-12">
    <div
      class="rounded-md border-transparent transform hover:-translate-y-1 ease-out hover:shadow-md hover:cursor-pointer duration-200 transition"
    >
      <div class="rounded overflow-hidden">
        <a href="https://goo.gl/maps/QkQ2BnoaJsHv2vk28">
          <img
            style="margin: 0"
            class="object-cover w-full h-56 object-top"
            src="/assets/main/images/reithalle-maps-1x.jpg"
            alt="Google Maps"
          />
        </a>
      </div>
    </div>

    <div class="hidden md:block">
      <h4 style="margin-top: 0" class="font-bold mb-2">Anfahrt</h4>
      <p class="">
        Alte Reithalle <br />
        Seidenstraße 34 <br />
        70174 Stuttgart
      </p>
    </div>
  </div>