<div class="mt-12 md:mt-16 grid md:grid-cols-2 gap-12">
    <div
      class="rounded-sm overflow-hidden border-2 border-transparent transform hover:border-blue-400 ease-in-out hover:shadow-sm hover:cursor-pointer duration-200 transition"
    >
        <a href="https://goo.gl/maps/QkQ2BnoaJsHv2vk28">
          <img
            style="margin: 0"
            class="object-cover w-full h-56 object-top"
            src="/assets/main/images/reithalle-maps-1x.jpg"
            alt="Google Maps"
          />
        </a>
    </div>

    <div class="-mt-6">
      <h4 class="font-bold mb-2">Anfahrt</h4>
      <p>
        Maritim Hotel (Alte Reithalle) <br />
        Seidenstraße 34 <br />
        70174 Stuttgart
      </p>
    </div>
  </div>