<div class="grid md:mt-2 sm:grid-cols-2 sm:gap-12 md:-mx-12">
    <div>
      <h3 class="text-xl font-bold inline-flex items-center">
        <img style="margin: 0 0.5rem 0 0" src="/assets/main/images/maritim-logo.svg" alt="Maritim Hotels Logo">
        Maritim Hotel
      </h3>
      <p>
        Die normalen Gottesdienste feiern wir in der alten Reithalle des
        Maritim Hotels. <br>
        Falls du nicht kommen kannst, kannst du dir auch den Livestream auf <a href="https://instagram.com/mosaik_church" class="text-indigo-600">Instagram</a>
        anschauen.
      </p>
    </div>
    <div>
      <h3 class="text-xl font-bold inline-flex items-center">
        <img style="margin: 0 0.5rem 0 0" src="/assets/main/images/youtube-logo.svg" alt="Youtube Logo">
        Online-Gottesdienst
      </h3>
      <p>
        An den anderen Sonntagen kannst du von deinem Sofa aus am Gottesdienst
        teilnehmen. Abonniere am besten unseren <a href="https://www.youtube.com/channel/UCUQI6VwkU8NYR-VfpLKmXDw?sub_confirmation=1" class="text-red-600">Youtube-Channel</a>.
      </p>
    </div>
  </div>