.DS_Store
.env
node_modules/
bower_components/
local/cache/*
local/storage/*
local/temp/*
assets/containers/
site/storage/forms/*
installer.php
_resources/
yarn.lock
package.lock
package-lock.json
mix-manifest.json
