/* playfair-display-regular - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''), url('/site/themes/freebird/fonts/playfair-display-v20-latin-regular.woff2?v=1.0') format('woff2');        
}
/* playfair-display-600 - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: local(''), url('/site/themes/freebird/fonts/playfair-display-v20-latin-600.woff2?v=1.0') format('woff2');
}
/* playfair-display-700 - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local(''), url('/site/themes/freebird/fonts/playfair-display-v20-latin-700.woff2?v=1.0') format('woff2');
}
/* playfair-display-800 - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: local(''), url('/site/themes/freebird/fonts/playfair-display-v20-latin-800.woff2?v=1.0') format('woff2');
}
/* basier-circle */
@font-face {
	font-family: 'Basier Circle';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local(''), url('/site/themes/freebird/fonts/basiercircle-regular-webfont.woff2?v=1.0') format('woff2');
}
@font-face {
	font-family: 'Basier Circle';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local(''), url('/site/themes/freebird/fonts/basiercircle-medium-webfont.woff2?v=1.0') format('woff2');
}
@font-face {
	font-family: 'Basier Circle';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: local(''), url('/site/themes/freebird/fonts/basiercircle-semibold-webfont.woff2?v=1.0') format('woff2');
}
@font-face {
	font-family: 'Basier Circle';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local(''), url('/site/themes/freebird/fonts/basiercircle-bold-webfont.woff2?v=1.0') format('woff2');
}

// @font-face{
//     font-family:'Trueno';
//     src:url("../fonts/TruenoRg.woff2") format("woff2"),
//     url("../fonts/TruenoRg.woff") format("woff");
//     font-weight:600;
//     font-style:normal;
//     font-display:swap;
// }
// @font-face{font-family:'Trueno';
//     src:url("../fonts/TruenoLtIt.woff2") format("woff2"),url("../fonts/TruenoLtIt.woff") format("woff");font-weight:normal;font-style:italic;font-display:swap}
// @font-face{font-family:'Trueno';src:url("../fonts/TruenoLt.woff2") format("woff2"),url("../fonts/TruenoLt.woff") format("woff");font-weight:normal;font-style:normal;font-display:swap}
// @font-face{font-family:'Trueno';src:url("../fonts/TruenoSBd.woff2") format("woff2"),url("../fonts/TruenoSBd.woff") format("woff");font-weight:800;font-style:normal;font-display:swap}
// .tap-highlight-none {-webkit-tap-highlight-color: rgba(0,0,0,0);}