@tailwind base;
@tailwind components;
@import 'fonts';

@supports ((backdrop-filter: blur(0)) or (-webkit-backdrop-filter: blur(0))){
    @media screen and (max-width: 768px){
    #topbar.open {
        background-color: rgba(0,0,0,.77);
        backdrop-filter: blur(10px) grayscale(50%) brightness(28%) contrast(80%);
        -webkit-backdrop-filter: blur(10px) grayscale(50%) brightness(28%) contrast(80%);
    }  
    #navigation.bg-black {background-color: transparent}
    ul.secondaryList.bg-gray-700 {
        background-color: rgba(190, 190, 190, 0.2);
    }
}
} 
nav, main, header, footer, section {opacity: 1 !important;}
html {scroll-behavior: smooth;} 
body {background-color: white}
#hero {
    background-color: black;
    background-position: 80% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1000px;
}
#hero.h-screen {height: 90vh}
.rounded-px {border-radius: 1px}
.shadow-brand {
    box-shadow: 0 1px 3px 0 rgba(56, 0, 102, 0.1), 0 1px 2px 0 rgba(56, 0, 102,.06);
}
.min-w-xs { min-width: 20rem; }
.bg-grad {
    background: #de6161;
    background: -webkit-linear-gradient(to left, #4c3dd6, #d14848);
    background: linear-gradient(to left, #4c3dd6, #d14848);
    filter: grayscale(0.4);
}
.bg-blue-grad {
    background: #5293e9;
    background: -webkit-linear-gradient(#2a4365, #fff);
    background: linear-gradient(#2a4365, #fff);
}
.desaturate-1\/3 {
    filter: saturate(0.33) brightness(1.02);
}
.scale-110 {transition: 100ms ease;}
.scale-110:hover {
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 0.95;
    transition: 100ms ease;
}
.tracking-loose {
    letter-spacing: 0.0125em;
}
@responsive {
    .text-shadow-sm {
        text-shadow: 0 0px 6px rgba(0,0,0,0.18);
    }
    .text-shadow {
      text-shadow: 0 0px 4px rgba(0,0,0,0.18);
    }
  
    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0,0,0,0.215), 0 2px 4px rgba(0,0,0,0.145);
    }
  
    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0,0,0,0.215), 0 5px 15px rgba(0,0,0,0.145);
    }
    .text-shadow-strong {
        text-shadow: 0 2px 8px black;
    }
  
    .text-shadow-none {
      text-shadow: none;
    }
  }
body {
    @apply font-hairline;
}
main {
    position: relative;
}
.liPrimary {
    @apply pt-3 pb-3 px-4 border-b border-gray-900;
}
#topbar.open {height: 100%;}
#topbar.open #navigation {
    @apply flex;
    margin-top: 3.5rem;
}
            
@media screen and (max-width: 767px){
  li.active > div > a, li.active > a{
    background: linear-gradient(180deg, transparent 64%, rgba(129, 140, 197, 0.55) 65%);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: -0.25rem;
  }
  /* #topbar.open {min-height: 100vh} */
  .hasChildren ul li:last-of-type{margin-bottom: 0.25rem}
}
.tv_link{background:linear-gradient(180deg, transparent 64%, #7887e180 65%, #7887e180 83%, transparent 84%);color:#010101;padding:3px 0px 2px 3px;position:relative;left:-4px;text-decoration:none}.tv_link:hover{background:linear-gradient(180deg, transparent 64%, #97a7eb 65%, #97a7eb 83%, transparent 84%);text-decoration:none;color:#010101}.tv_link i{font-size:.8em;text-shadow:0 0}
@media screen and (min-width: 768px){
    .hasChildren ul {margin-top: 19px;}
    .hasChildren:hover ul, .hasChildren:focus ul {
        display: flex;
    }
    #navigation .md\:text-base {font-size: 1.08rem}
    .liPrimary{
        @apply border-black border-b-4;
        & > a, & > div > a {
            font-size: 0.96rem;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: 0.015rem;
            margin-top: 2px;
        }
    }
    .liPrimary:hover, .liPrimary:focus {
        @apply border-gray-400 text-gray-300;
    }
    li.active {
        @apply border-b-4 border-gray-300;
        & > a, div > a {
            @apply text-white;
        }
    }
}
.rotate-180 {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.hyphens-auto {
    hyphens: auto;
}
.origin-center {
    transform-origin: center center;
    transition-duration: 100ms;
}
.ui-expand:before {
    font-family: 'Times New Roman', Times, sans-serif !important;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    content: '‹';
    color: #727272;
    position: absolute;
    /* transform: translateY(3px) rotate(135deg);			 */
    text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
    -webkit-font-smoothing: antialiased;  /* Support for all WebKit browsers. */
    -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
    font-feature-settings: 'liga'; /* Support for IE. */
    } 

.primary_card {
    h2 {
        @apply font-semibold text-2xl pb-1 text-black;
    }
    p:first-of-type {
        @apply mb-2 text-gray-900 leading-normal;
    } 
    strong {
        @apply mt-4 mb-1 font-medium text-black text-lg;
    }
}

.bg-t-gray {
    background: rgba(0, 0, 0, .095);
}
.hover\:bg-t-gray:hover {
    background: rgba(0,0,0,.13)
}
.font-sans {
    letter-spacing: -0.0085em;
    p { letter-spacing: -0.01em;}
}
strong { 
	@apply font-semibold; 
}
.primary_card a {
    @apply mb-2 mt-2 font-semibold inline-block leading-relaxed px-2 rounded-sm bg-t-gray;
    &:hover {
        background: rgba(0,0,0,.13);
    }
}
.bard {
    h1, h2, h3, h4 {
			@apply leading-tight;
		}
    h2 {
        @apply font-semibold text-3xl
    }
    h3 {
        @apply font-semibold text-2xl
    }
    p {
        @apply py-2
    }
    a:not(.button):not(.no-underline) {
        @apply underline text-gray-800
    }
    ul:not(.mx-auto) {
        list-style-type: disc;
        margin-left: 1.25rem;
    }
    ol {
        list-style-type: decimal;
        padding-left: 1rem;
        li {
            margin-bottom: 0.5rem;
        }
    }
}

@import 'thirdparty';
@tailwind utilities;