<main class="bg-white pt-4 md:pt-8">
    <div class="px-4 max-w-2xl mx-auto pb-24">
        {{ rich_content }} 
            {{ if type == 'text'}}
                <div class="prose">
                    {{text | markdown}}
                </div>
            {{ elseif type == 'button' }}
                    {{ partial src='sets/button' :url='url' }}{{text}}{{/partial}}
            {{ elseif type == 'datei' }}
                {{partial src='sets/file' :text="title" :file="file"}}
            {{ elseif type == 'html'}}
                {{html}}
            {{ elseif type == 'cta_card'}}
                {{ partial:sets/ctacard :button_text="button_text" :disabled="disabled" :cta_link="cta_link"}}
                    {{ text }}
                {{/partial:sets/ctacard}}
            {{ elseif type == 'bild'}}
                <picture class="my-2 md:my-4 w-full block bg-gray-200">
                    <source type="image/webp" srcset="{{ glide :src='image' w='1024' q='80' fm='webp' }} 1024w, {{ glide :src='image' w='512' q='80' fm='webp' }} 512w" sizes="100%"/>
                    <source type="image/jpg" srcset="{{ glide :src='image' w='1024' q='80' }} 1024w, {{ glide :src='image' w='512' q='80' }} 512w" sizes="100%"/>
                    <img loading="lazy" src="{{ glide :src='image' w='595' q='80'}}" class="w-full" alt="{{image | get:alt}}"/>
                </picture>  
            {{ elseif type == 'partial'}}
                {{partial src="{id}"}}
            {{ /if}}
        {{ /rich_content}}
        {{slot}}
    </div>
</main>