{{partial:layout/content}}

<h1 class="text-center font-serif font-extrabold text-4xl mb-3 -mt-2">{{title}}</h1>
{{if image}}
<div class="max-w-lg mx-auto rounded-sm overflow-hidden">
    <img src="{{glide :src='image'}}" :alt="image:alt" />
</div>
{{/if}}

<ul class="max-w-lg mx-auto md:mt-8">
{{entries}}
    <li class="rounded-sm border border-gray-500 my-2 hover:bg-gray-200 hover:border-gray-500 hover:text-black">
        <a href="{{ url }}" style="text-decoration: none" class="flex px-4 py-3 align-center">
            <div class="mr-4">
                <span class="text-xl font-bold leading-none">{{date format="d"}}</span> <br>
                <span class="text-xs leading-none uppercase -mt-1 block">{{ date format="M"}}</span>
            </div>
            <span class="text-lg leading-tight inline-flex items-center min-h-full no-underline">{{title}}</span>
            <div class="ml-auto h-full w-8 pl-1">
                    <svg class="stroke-current text-gray-700" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 23 23" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </div>
        </a>
    </li>  
{{/entries}}
</ul>
          

{{/partial:layout/content}}