<main class="text-gray-100">
<div class="bard px-4 max-w-2xl mx-auto pb-24">
    {{ rich_content }} 
        {{ if type == 'text'}}
            {{text | markdown}}
        {{ elseif type == 'button' }}
            {{ if link | length > 0 }}
                {{ partial src='button' :text='text' :link='link' :external='external_link'}}
            {{ else }}
                {{ partial src='button' :text='text' :link="target_page" }}
            {{ /if }}
        {{ elseif type == 'html'}}
            {{html}}
        {{ elseif type == 'image'}}
            <picture class="my-2 md:my-4 w-full block bg-gray-200">
                <source type="image/webp" srcset="{{ glide :src='image' w='1024' q='80' fm='webp' }} 1024w, {{ glide :src='image' w='512' q='80' fm='webp' }} 512w" sizes="100%"/>
                <source type="image/jpg" srcset="{{ glide :src='image' w='1024' q='80' }} 1024w, {{ glide :src='image' w='512' q='80' }} 512w" sizes="100%"/>
                <img loading="lazy" src="{{ glide :src='image' w='595' q='80'}}" class="w-full" alt="{{image | get:alt}}"/>
            </picture>  
        {{ /if}}
        

    {{ /rich_content}}
</div>
</main>
<script src="/site/themes/mosaik/node_modules/lite-youtube-embed/src/lite-yt-embed.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<link rel="preload" href="https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF_jzx13E.woff2" as="font">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<style>
    body { background-color: #151818; }
    p em a { color: #63b3ed !important; }
    .bard h2 { 
        margin-bottom: 0.25rem; 
        font-family: 'Archivo Black', sans-serif; 
        font-size: 2.25rem;
        font-weight: 500;
        color: #8babac;
        letter-spacing: normal;
        line-height: 1;
    }
    
</style>