<header aria-hidden class="h-16 hidden md:block">
{{# Topbar#}}
<div class="fixed z-50 bg-black  w-full shadow px-4">
    <div class="flex justify-between items-center h-16 max-w-6xl mx-auto">
    <a href="/" class="text-white" aria-label="Home">
        {{ theme:output src="img/logo.svg" }}
    </a>
    
    {{# #navigation #}}
    <nav class="flex flex-col justify-between flex-grow-0 h-full overflow-y-auto tracking-loose">
        <ul class="flex text-md text-gray-200 font-medium space-x-2 h-full">

            {{ nav from="/" max_depth="2" include_home="true" is_hidden:isnt="true"}}
                
                {{# liPrimary #}}
                <li class="group px-3 border-b-4 border-black {{ if is_current || is_parent }}border-gray-300 text-white{{ /if }}{{ if url == '/' }} hidden md:block {{ /if }} hover:border-gray-400 hover:text-gray-200">
                    <a href="{{ url }}" class="py-5 inline-flex items-center uppercase leading-6">
                        {{ title }}
                        {{ if children}}
                        <svg class="h-2 ml-1 text-gray-600" fill="currentColor" viewBox="0 0 944.9942 752.3100125000001" version="1.1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use></svg>
                        {{/if}}
                    </a>
                    {{ if children }}
                        <div class="absolute hidden group-hover:block shadow-lg -ml-3">
                            <ul class="flex flex-col font-normal py-1 text-gray-500 bg-gray-100 shadow-xs rounded-b-sm text-base text-gray-900">
                            {{ children }}
                                <li class="hover:bg-indigo-200 desaturate-1/3 text-lg hover:text-black font-medium {{ if is_current }} font-semibold bg-indigo-200 {{ /if }}">
                                    <a class="px-4 py-1 block " href="{{ url }}">{{ title }}</a>
                                </li>
                            {{ /children}}
                            </ul>
                        </div>
                    {{ /if }}
                </li>
                
                {{# hasChildren 
                <li class="{{ if is_current || is_parent }}{{ /if }} uppercase">
                    <div class="flex items-center justify-start px-2">
                        <a class="leading-normal md:w-auto" href="{{ url }}">{{title}}</a> 
                        <svg class="h-2 px-1 text-gray-600" fill="currentColor" viewBox="0 0 944.9942 752.3100125000001" version="1.1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use></svg>
                    </div>
                    {{ if children }}
                        <ul class="flex flex-col hidden py-2 mt-3 -m-4 -mb-3 font-sans text-xl font-normal text-gray-500 bg-gray-700 border-t-0 border-b-0 border-gray-300  secondaryList md:border md:border-t-0 md:absolute md:-ml-4 md:py-0 md:pb-1 md:pt-1 md:shadow-xl md:rounded-b-sm md:text-base md:text-gray-900 md:bg-gray-100">
                        {{ children }}
                        <li class="mt-1 ml-0 text-xl border-gray-400 md:mt-0 md:hover:bg-indigo-200 desaturate-1/3 hover:text-gray-500 md:text-lg md:hover:text-black"><a class="px-4 py-1 block {{ if is_current }} font-medium md:font-medium {{ /if }}" href="{{ url }}">{{ title }}</a></li>
                        {{ /children}}
                        </ul>
                    {{ /if }}
                </li> {{ /if }}#}}
            {{ /nav }}
        </ul>
    </nav>
</div>
</div>
</header>