/* playfair-display-regular - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('/fonts/playfair-display-v20-latin-regular.woff2') format('woff2');        
}
/* playfair-display-600 - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url('/fonts/playfair-display-v20-latin-600.woff2') format('woff2');
}
/* playfair-display-700 - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('/fonts/playfair-display-v20-latin-700.woff2') format('woff2');
}
/* playfair-display-800 - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: url('/fonts/playfair-display-v20-latin-800.woff2') format('woff2');
}