<div id="anmeldung"  class="{{ if disabled }}banner{{endif}} -mx-2 mt-6 md:mt-10 p-3 md:px-5 md:py-4 bg-neutral-400 rounded-px text-gray-900 relative">
  <div {{ if disabled }} class="opacity-50" {{endif}}>
    <div class="prose">
      {{markdown}}
        {{slot}}
      {{markdown}}
      <style>.prose h3:first-of-type{margin-bottom:0}</style>
    </div> 

    {{ if disabled }}
    <button disabled class="mb-1 py-2 px-4 font-semibold text-gray-900 bg-blue-300 rounded-px hover:cursor-not-allowed focus:outline-none">
        {{button_text}}
    </button>
    {{ else }}
    <a class="inline-block mb-1 py-2 px-4 font-semibold text-gray-900 bg-blue-300 rounded-px
    hover:cursor-pointer hover:shadow-sm hover:bg-opacity-75 focus:outline-none focus:bg-opacity-75 no-underline"
      target="_blank"
      href="{{cta_link}}">
      {{button_text}}
    </a>
    {{ endif }}
  </div> 
</div>
<style>
    .bg-neutral-400 {
      filter: brightness(0.98);
    }
    [class*="bg-blue"] { filter: saturate(0.6) hue-rotate(16deg) }
    .banner::before {
      content: "Anmeldung geschlossen";
      font-weight: 700;
      background: #1A202C;
      position: absolute;
      color: #f7fafc;
      top: 10px;
      left: -4px;
      padding: 3px 12px;
      z-index: 1;
    }
    .banner::after {
      content: "";
      position: absolute;
      top: 40px;
      left: -4px;
      border-right: 4px solid #1A202C;
      border-bottom: 4px solid transparent;
    }
  </style>
