
    <amp-story standalone title="Mosaik News" publisher-logo-src="logo.svg" publisher="Mosaik Church" poster-portrait-src="https://media.tenor.com/videos/b5897e0db71a7367dd158b17fb3444b0/mp4">
        <amp-story-page id="intro">
            <amp-story-grid-layer template="fill">
                <div class="w-full h-full bg-black"></div>
            </amp-story-grid-layer>
            <amp-story-grid-layer template="vertical">
                <amp-img class="mt-16 ml-1 opacity-50" width="235" height="235" id="intro-bg" src="/site/themes/freebird/img/abstract_lines_dark.gif"></amp-img>
            </amp-story-grid-layer>
            <amp-story-grid-layer template="fill">
                <div style="filter: grayscale(50%); opacity: 0.1" class="w-full h-full bg-indigo-600"></div>
            </amp-story-grid-layer>
            <amp-story-grid-layer template="thirds">
                <h1 class="mt-2 -ml-3 leading-none text-white font-serif font-extrabold text-6xl text-shadow" grid-area="upper-third">Mosaik News</h1>
                <p grid-area="lower-third" class="mt-6 text-xl text-gray-300 font-normal">
                    Wir sind immer in Bewegung. <br>  Bei uns ist immer etwas los. <br> Seh dir an, welche Events als nächstes anstehen.
                </p>
                <div grid-area="lower-third" class="mt-3">
                    <svg class="float-right mt-24 pt-2" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#dddddd" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M5 12h13M12 5l7 7-7 7"/></svg>
                </div>
            </amp-story-grid-layer>
        </amp-story-page>
        <amp-story-page id="page-1">
            <amp-story-grid-layer template="fill">
                <amp-img width="320" height="568.889" layout="responsive" id="page-1-bg" src="/site/themes/freebird/news/Lobpreisabend_2.jpg"></amp-img>
            </amp-story-grid-layer>
            <amp-story-page-attachment layout="nodisplay" data-cta-text="mehr lesen">
                <h1 class="font-bold text-2xl pl-2 my-3">Lobpreisabend</h1>
                <p class="px-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae esse doloremque, optio cum recusandae dolores consequatur odit. Veniam a, nulla fugit, exercitationem quisquam repellat corrupti qui esse molestiae recusandae blanditiis? 
                </p>
                <a href="" class="text-blue-800 pl-2 font-bold">Link ></a>
            </amp-story-page-attachment>
        </amp-story-page>
        <amp-story-page id="page-15">
                <amp-story-grid-layer template="fill">
                    <amp-img width="320" height="568.889" layout="responsive" id="page-15-bg" src="/site/themes/freebird/news/SBS.jpg"></amp-img>
                </amp-story-grid-layer>
            </amp-story-page>
        <amp-story-page id="page-2">
            <amp-story-grid-layer template="fill">
                <amp-img width="320" height="480.000" layout="responsive" id="page-2-bg" src="https://storage.googleapis.com/makestories-202705.appspot.com/WXCDzGhx27aZ0vzcOpQdjcdDJ873/218.jpg"></amp-img>
            </amp-story-grid-layer>
            <amp-story-cta-layer animate-in="fly-in-bottom" class="w-full">
                <div class="flex justify-center mt-16 text-sm">
                    <a href="https://www.ampproject.org" class="mx-auto inline-block w-auto text-center text-black font-extrabold bg-white shadow-md px-5 py-2 rounded-full">mehr lesen</a>
                </div>
            </amp-story-cta-layer>
        </amp-story-page>
        <amp-analytics config="https://server.makestories.io/analytics?storyId=-Li4lY2C-xEkLdpUbWtn"></amp-analytics>
        <amp-analytics type="googleanalytics" id="googleanalytics">
            }</script>
        </amp-analytics>
        <amp-story-bookend src="/site/themes/freebird/news/bookend.json" layout="nodisplay"></amp-story-bookend>
    </amp-story>
