{{ form:set is="contact" }}
<div class="flex flex-col max-w-xl -mt-8 mx-auto hyphens-auto">
    <p class="mb-5">Schreib uns eine E-Mail an {{obfuscate}}info@mosaik.email{{/obfuscate}} oder nutze das Kontaktformular:</p>
    {{ if {form:success} }}
        {{ form:submission }}
        <div class="bg-green-700 text-green-100 py-1 px-2 my-1">
            Vielen Dank für deine Nachricht, {{ name }}!
            Wir melden uns in Kürze bei dir.
        </div>
        {{ /form:submission }}
    {{ else }}
    {{ form:create }}
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">Name</label>
            <input class="appearance-none block w-full bg-gray-300 text-gray-700 border border-gray-300 rounded-sm py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-gray-200 focus:border-blue-500" name="name" type="text" value="{{old:name}}">
        </div>
        <br>
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">E-Mail</label>
            <input class="appearance-none block w-full bg-gray-300 text-gray-700 border border-gray-300 rounded-sm py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-gray-200 focus:border-blue-500" name="email" type="email" value="{{old:email}}">
            {{if get:ref}}
            <input class="hidden" type="text" name="subject" value="{{if get:ref==='next-steps'}}Anmeldung zu Next Steps{{/if}}">
            {{/if}}
        </div>
        <br>
        <input type="text" name="honeypot" class="hidden">
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="message">Nachricht</label>
            <textarea rows="8" class="appearance-none block w-full bg-gray-300 text-gray-700 border border-gray-300 rounded-sm py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-gray-200 focus:border-blue-500" name="message" value="{{old:message}}"></textarea>
        </div>
        <br>
        <input type="submit" value="Senden" class="w-24 border border-blue-900 bg-blue-900 py-2 rounded-sm text-blue-100 font-semibold hover:cursor-pointer shadow hover:shadow-md hover:bg-blue-800 focus:outline-none focus:bg-blue-800 focus:border-blue-300">
    {{ /form:create }}
    {{ /if }}
</div>
{{ /form:set }}

