<header id="hero" class="h-64 sm:h-72 md:h-100 lg:h-100 xl:h-144 w-full bg-cover text-center inline-flex flex-col mt-12 md:mt-16 relative -z-10" {{ asset:header_image }} style="background-image: url({{url}}); background-position: {{focus_css}};" {{ /asset:header_image }}>
    <div class="my-auto" id="hero-sub">
    <h1 class="font-serif font-bold text-5xl sm:text-6xl lg:text-7xl text-white text-shadow-sm hyphens-auto leading-none">{{page:title | upper}}</h1>
    <div>
        {{ if {parent} !== "/" }}
            <div class="mt-4 md:mt-2 font-sans text-base text-white text-shadow w-5/6 mx-auto font-medium md:font-normal leading-tight">- {{parent:title}} -</div>  
        {{/if}}
        {{ if custom_subtitle }}
            <div class="mt-4 md:mt-2 font-sans text-base text-white text-shadow w-5/6 mx-auto font-medium md:font-normal leading-tight">- {{custom_subtitle}} -</div> 
        {{ /if}}
    </div>  
</div>
</header>