{{if light === true}}
<a href="/news">
<span class="w-screen py-6" style="background: linear-gradient(180deg, rgba(251, 250, 255, 0.9), rgba(251,250,255,0.9)); background-size: cover; background-position-y: top">
    <a href="/"></a>
    <h2 class="text-center py-6 text-gray-900 text-4xl font-semibold">Aktuelles <svg xmlns="http://www.w3.org/2000/svg" class="inline-block -mt-1 stroke-current" width="29" height="29" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M5 12h13M12 5l7 7-7 7"/></svg></h2>
</span>
</a>
{{else}}
<a href="/news">
<div class="w-screen py-6 text-white hover:text-gray-300" style="background: linear-gradient(180deg, rgba(20, 19, 85, 0.6), rgba(16, 14, 63, 0.6)), url('/site/themes/freebird/img/abstract_lines_dark.gif'); background-size: cover; background-position-y: top">
    <h2 class="text-center py-6 text-shadow text-4xl font-semibold">Aktuelles <svg xmlns="http://www.w3.org/2000/svg" class="inline-block -mt-1 stroke-current" width="29" height="29" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M5 12h13M12 5l7 7-7 7"/></svg></h2>
</div>
</a>
{{/if}}