<div class="max-w-2xl mx-auto">
    <h2 class="hidden text-2xl font-extrabold text-gray-800 uppercase tracking-wide">Gottesdienste</h2>
    <div class="mt-1 leading-none flex flex-wrap">
    {{foreach:services}}
        <div class="mr-8 my-2">
            <time datetime="{{key | safe_truncate:5}}" class="w-28 inline-block font-bold text-xl">{{key}}</time> <br class="sm:hidden">
            <span class="font-semibold text-gray-700 text-lg sm:-ml-2 inline-block py-1">{{value}}</span>
        </div>
    {{/foreach:services}}
    </div>
</div>